.body {
background: white;
}

.container {
    border: 2px solid black;
    border-radius: 45px;
    width: 30%;
    max-width: 280x;
    min-width: 220px;
    max-height: 600ex;
    min-height: 550px;
    background: rgb(223, 223, 223);
}

.header>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
border-top-left-radius: 45px;
border-top-right-radius: 45px;

}
.photo{ 
    border: 3px solid white;

    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -88px;
    border: 8px solid white; 
    line-height: 100px; 
    border-radius: 100%; 

    
    
}
.photo>img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
}
.usercard{
    border-radius: 10px solid white;

}
.name {
text-align: center;
color: rgb(20, 20, 20);
font-weight: bold;
font-size: 16px;
letter-spacing: 1.5px;
font-family: 'Dongle', sans-serif;
margin-left: 11px;
}
.tag {
    text-align: center;
    color: rgb(95, 95, 95);
    letter-spacing: 0.5px;
    font-family: 'Inconsolata', monospace;
}
.info {
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 20px;
    max-width: 250px;
    margin-left: 70px;
}

.footer{
    margin: auto;
    margin-left: 50px;
}

.button>img {
    width: 100%;
    height: 100%;
    max-height: 50px;
    max-width: 50px;

}
.button {
    width: 20%;
    margin-left: 30px;  
display: inline-block;
}
